In [16]:
import numpy as np
import pandas as pd
from sklearn import datasets,linear_model,preprocessing,metrics
from sklearn.model_selection import train_test_split

In [17]:
db=pd.read_csv('TSM.csv')

db['date']=0
db

,Date,Open,High,Low,Close,Adj Close,Volume,date
0,2022-04-04,104.019997,105.570000,103.279999,104.790001,102.536720,9077200,0
1,2022-04-05,104.480003,104.599998,102.110001,102.500000,100.295967,12291000,0
2,2022-04-06,100.419998,102.139999,99.720001,101.180000,99.004356,14902600,0
3,2022-04-07,100.419998,101.230003,99.650002,100.519997,98.358543,12431000,0
4,2022-04-08,100.620003,100.699997,99.120003,99.290001,97.154991,11796200,0
...,...,...,...,...,...,...,...,...
246,2023-03-28,90.660004,90.870003,89.919998,90.809998,90.809998,7521300,0
247,2023-03-29,91.760002,93.220001,91.449997,92.760002,92.760002,9264000,0
248,2023-03-30,93.349998,93.519997,92.029999,92.470001,92.470001,10232800,0
249,2023-03-31,91.239998,93.260002,91.129997,93.019997,93.019997,8699700,0
250,2023-04-03,93.010002,93.599998,91.709999,92.839996,92.839996,6862000,0

In [18]:
# to make price column
for x in (db.index) :
    timestamp=db['Date'][x]
    t=''
    for x1 in timestamp :
        if(x1=='-'):
            continue
        else:
            t=t+x1
    db.loc[x,'date']=int(t)
db

,Date,Open,High,Low,Close,Adj Close,Volume,date
0,2022-04-04,104.019997,105.570000,103.279999,104.790001,102.536720,9077200,20220404
1,2022-04-05,104.480003,104.599998,102.110001,102.500000,100.295967,12291000,20220405
2,2022-04-06,100.419998,102.139999,99.720001,101.180000,99.004356,14902600,20220406
3,2022-04-07,100.419998,101.230003,99.650002,100.519997,98.358543,12431000,20220407
4,2022-04-08,100.620003,100.699997,99.120003,99.290001,97.154991,11796200,20220408
...,...,...,...,...,...,...,...,...
246,2023-03-28,90.660004,90.870003,89.919998,90.809998,90.809998,7521300,20230328
247,2023-03-29,91.760002,93.220001,91.449997,92.760002,92.760002,9264000,20230329
248,2023-03-30,93.349998,93.519997,92.029999,92.470001,92.470001,10232800,20230330
249,2023-03-31,91.239998,93.260002,91.129997,93.019997,93.019997,8699700,20230331
250,2023-04-03,93.010002,93.599998,91.709999,92.839996,92.839996,6862000,20230403

In [19]:
X=db[['date']]
X #label --- price

         date
0    20220404
1    20220405
2    20220406
3    20220407
4    20220408
..        ...
246  20230328
247  20230329
248  20230330
249  20230331
250  20230403

[251 rows x 1 columns]

In [20]:
Y=db[['Open','High','Low','Adj Close']]
Y #features

           Open        High         Low   Adj Close
0    104.019997  105.570000  103.279999  102.536720
1    104.480003  104.599998  102.110001  100.295967
2    100.419998  102.139999   99.720001   99.004356
3    100.419998  101.230003   99.650002   98.358543
4    100.620003  100.699997   99.120003   97.154991
..          ...         ...         ...         ...
246   90.660004   90.870003   89.919998   90.809998
247   91.760002   93.220001   91.449997   92.760002
248   93.349998   93.519997   92.029999   92.470001
249   91.239998   93.260002   91.129997   93.019997
250   93.010002   93.599998   91.709999   92.839996

[251 rows x 4 columns]

In [30]:
# X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)
# X_train,X_test,Y_train,Y_test=X_train.sort_index(axis=0),X_test.sort_index(axis=0),Y_train.sort_index(axis=0),Y_test.sort_index(axis=0)
# # train and spplit and obtaining all features and labels (not scaled)

X_train=X[:-20]
X_test=X[-20:]
Y_train=Y[:-20]
Y_test=Y[-20:]
Y_test

          Open       High        Low  Adj Close
231  89.949997  90.239998  88.300003  88.389870
232  88.349998  90.839996  88.139999  90.359619
233  89.709999  90.690002  88.570000  88.419708
234  88.029999  89.169998  87.199997  86.798157
235  86.379997  89.000000  86.309998  87.285614
236  88.029999  89.629997  87.709999  88.827591
237  87.199997  87.239998  85.440002  86.250999
238  85.949997  89.470001  85.820000  89.300003
239  89.059998  90.029999  89.000000  89.470001
240  89.209999  90.370003  88.660004  90.040001
241  91.000000  93.000000  90.800003  92.500000
242  93.500000  95.029999  92.540001  92.620003
243  94.489998  95.820000  93.430000  94.589996
244  93.949997  94.180000  92.089996  92.790001
245  92.040001  92.180000  90.550003  90.660004
246  90.660004  90.870003  89.919998  90.809998
247  91.760002  93.220001  91.449997  92.760002
248  93.349998  93.519997  92.029999  92.470001
249  91.239998  93.260002  91.129997  93.019997
250  93.010002  93.599998  91.709999  92.839996

In [22]:
# # Scaled version of label
# scaler = preprocessing.StandardScaler()
# Y_train_Scaled=scaler.fit_transform(pd.DataFrame(Y_train.index))
# Y_train_Scaled # scaled label for training

In [23]:
# mean_x_train = np.mean(X_train)
# std_x_train = np.std(X_train)

# mean_y_train = np.mean(Y_train.index)
# std_y_train = np.std(Y_train.index)

# mean_y_test = np.mean(Y_test.index)
# std_y_test = np.std(Y_test.index)

# mean_x_test = np.mean(X_test)
# std_x_test = np.std(X_test)

In [24]:
# X_train_Scaled=scaler.transform(X_train)
# X_train_Scaled

In [25]:
model=linear_model.LinearRegression()
model.fit(X_train,Y_train)

LinearRegression()

In [26]:
# y_pred_unscaled = (Y_train_Scaled * std_y_train) + mean_y_train
# y_pred_unscaled

In [27]:
# x_pred_unscaled = ((X_train_Scaled , std_x_train)) + mean_x_train
# x_pred_unscaled

In [28]:
predict=model.predict(X_test)
predict

array([[88.16625294, 89.51553797, 87.33094964, 88.16318399],
       [88.1668426 , 89.516161  , 87.33156136, 88.16391374],
       [88.16743227, 89.51678403, 87.33217308, 88.1646435 ],
       [88.16802194, 89.51740706, 87.3327848 , 88.16537325],
       [88.16979095, 89.51927615, 87.33461997, 88.1675625 ],
       [88.17038062, 89.51989918, 87.33523169, 88.16829225],
       [88.17097029, 89.52052221, 87.33584342, 88.169022  ],
       [88.17155995, 89.52114524, 87.33645514, 88.16975176],
       [88.17214962, 89.52176827, 87.33706686, 88.17048151],
       [88.17391863, 89.52363736, 87.33890203, 88.17267076],
       [88.1745083 , 89.52426039, 87.33951375, 88.17340051],
       [88.17509797, 89.52488342, 87.34012548, 88.17413026],
       [88.17568764, 89.52550645, 87.3407372 , 88.17486002],
       [88.1762773 , 89.52612948, 87.34134892, 88.17558977],
       [88.17804631, 89.52799857, 87.34318409, 88.17777902],
       [88.17863598, 89.5286216 , 87.34379581, 88.17850877],
       [88.17922565, 89.52924463, 87.34440753, 88.17923852],
       [88.17981532, 89.52986766, 87.34501926, 88.17996827],
       [88.18040498, 89.53049069, 87.34563098, 88.18069803],
       [88.22286113, 89.57534887, 87.389675  , 88.23324012]])

In [29]:
m=metrics.mean_squared_error(Y_test,predict)
m

10.246206054652557