In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets,linear_model,preprocessing,metrics
from sklearn.model_selection import train_test_split
from flask import Flask, request

In [2]:
db=pd.read_csv('use.csv')
db['date']=0

In [3]:
# to make price column
for x in (db.index) :
    timestamp=db['Date'][x]
    t=''
    for x1 in timestamp :
        if(x1=='-'):
            continue
        elif (x1==' '):
            break
        else:
            t=t+x1
    db.loc[x,'date']=int(t)
db

# data-preprocessing
# over-fitting

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,date
0,2021-04-05 00:00:00-04:00,155.383279,156.437273,154.452730,155.183868,7387100,0.0,0.0,20210405
1,2021-04-06 00:00:00-04:00,155.801061,156.218863,154.775553,155.145874,5074200,0.0,0.0,20210406
2,2021-04-07 00:00:00-04:00,155.297812,155.990974,155.079421,155.354782,4608000,0.0,0.0,20210407
3,2021-04-08 00:00:00-04:00,155.725129,155.829580,154.633160,154.747101,5039400,0.0,0.0,20210408
4,2021-04-09 00:00:00-04:00,153.939959,154.709087,151.718031,153.113861,8418300,0.0,0.0,20210409
...,...,...,...,...,...,...,...,...,...
500,2023-03-29 00:00:00-04:00,152.240005,153.380005,152.070007,153.309998,6012000,0.0,0.0,20230329
501,2023-03-30 00:00:00-04:00,153.580002,153.800003,152.809998,153.429993,4555700,0.0,0.0,20230330
502,2023-03-31 00:00:00-04:00,153.789993,155.190002,153.240005,155.000000,9888000,0.0,0.0,20230331
503,2023-04-03 00:00:00-04:00,154.949997,157.009995,153.940002,156.850006,6841900,0.0,0.0,20230403
504,2023-04-04 00:00:00-04:00,156.970001,158.970001,156.589996,158.490005,8289300,0.0,0.0,20230404

In [4]:
X=db[['date']]
X #label --- price

         date
0    20210405
1    20210406
2    20210407
3    20210408
4    20210409
..        ...
500  20230329
501  20230330
502  20230331
503  20230403
504  20230404

[505 rows x 1 columns]

In [5]:
Y=db[['Open','High','Low','Close']]
Y #features

           Open        High         Low       Close
0    155.383279  156.437273  154.452730  155.183868
1    155.801061  156.218863  154.775553  155.145874
2    155.297812  155.990974  155.079421  155.354782
3    155.725129  155.829580  154.633160  154.747101
4    153.939959  154.709087  151.718031  153.113861
..          ...         ...         ...         ...
500  152.240005  153.380005  152.070007  153.309998
501  153.580002  153.800003  152.809998  153.429993
502  153.789993  155.190002  153.240005  155.000000
503  154.949997  157.009995  153.940002  156.850006
504  156.970001  158.970001  156.589996  158.490005

[505 rows x 4 columns]

In [6]:
# X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)
# X_train,X_test,Y_train,Y_test=X_train.sort_index(axis=0),X_test.sort_index(axis=0),Y_train.sort_index(axis=0),Y_test.sort_index(axis=0)
# # train and spplit and obtaining all features and labels (not scaled)

X_train=X[:-20]
X_test=X[-20:]
Y_train=Y[:-20]
Y_test=Y[-20:]
Y_test

           Open        High         Low       Close
485  153.979996  154.199997  152.479996  152.960007
486  153.460007  153.600006  150.710007  151.240005
487  151.860001  153.490005  151.100006  151.610001
488  152.089996  155.910004  151.570007  153.059998
489  153.279999  154.029999  151.899994  153.919998
490  152.839996  154.889999  152.529999  154.350006
491  153.449997  154.369995  152.600006  154.029999
492  154.479996  154.949997  152.300003  152.380005
493  152.470001  154.070007  152.380005  153.889999
494  154.000000  154.130005  152.169998  153.889999
495  153.850006  154.059998  151.029999  151.050003
496  151.179993  151.690002  150.110001  151.130005
497  151.479996  152.759995  150.830002  152.649994
498  154.199997  154.539993  153.110001  153.300003
499  152.389999  153.449997  151.729996  151.820007
500  152.240005  153.380005  152.070007  153.309998
501  153.580002  153.800003  152.809998  153.429993
502  153.789993  155.190002  153.240005  155.000000
503  154.949997  157.009995  153.940002  156.850006
504  156.970001  158.970001  156.589996  158.490005

In [7]:
# # Scaled version of label
# scaler = preprocessing.StandardScaler()
# Y_train_Scaled=scaler.fit_transform(pd.DataFrame(Y_train.index))
# Y_train_Scaled # scaled label for training

In [8]:
# mean_x_train = np.mean(X_train)
# std_x_train = np.std(X_train)

# mean_y_train = np.mean(Y_train.index)
# std_y_train = np.std(Y_train.index)

# mean_y_test = np.mean(Y_test.index)
# std_y_test = np.std(Y_test.index)

# mean_x_test = np.mean(X_test)
# std_x_test = np.std(X_test)

In [9]:
# X_train_Scaled=scaler.transform(X_train)
# X_train_Scaled

In [10]:
model=linear_model.LinearRegression()
model.fit(X_train.values,Y_train.values)

LinearRegression()

In [11]:
# y_pred_unscaled = (Y_train_Scaled * std_y_train) + mean_y_train
# y_pred_unscaled

In [12]:
# x_pred_unscaled = ((X_train_Scaled , std_x_train)) + mean_x_train
# x_pred_unscaled

In [17]:
predict=model.predict(X_test.values)
X_test

         date
485  20230308
486  20230309
487  20230310
488  20230313
489  20230314
490  20230315
491  20230316
492  20230317
493  20230320
494  20230321
495  20230322
496  20230323
497  20230324
498  20230327
499  20230328
500  20230329
501  20230330
502  20230331
503  20230403
504  20230404

In [14]:
m=metrics.mean_squared_error(Y_test,predict)
m

336.7421827985846

In [15]:
p= model.predict([[20231003]])
p

array([[172.0878803 , 173.43809832, 170.5223655 , 171.97257022]])

In [16]:
amazon_today=(p[0][0]+p[0][1]+p[0][2]+p[0][3])/4
amazon_today

172.00522858455815