In [18]:
import numpy as np
import pandas as pd
from sklearn import datasets,linear_model,preprocessing,metrics
from sklearn.model_selection import train_test_split

In [19]:
db=pd.read_csv('TSM.csv')

db['date']=0
db

,Date,Open,High,Low,Close,Adj Close,Volume,date
0,2022-04-04,104.019997,105.570000,103.279999,104.790001,102.536720,9077200,0
1,2022-04-05,104.480003,104.599998,102.110001,102.500000,100.295967,12291000,0
2,2022-04-06,100.419998,102.139999,99.720001,101.180000,99.004356,14902600,0
3,2022-04-07,100.419998,101.230003,99.650002,100.519997,98.358543,12431000,0
4,2022-04-08,100.620003,100.699997,99.120003,99.290001,97.154991,11796200,0
...,...,...,...,...,...,...,...,...
246,2023-03-28,90.660004,90.870003,89.919998,90.809998,90.809998,7521300,0
247,2023-03-29,91.760002,93.220001,91.449997,92.760002,92.760002,9264000,0
248,2023-03-30,93.349998,93.519997,92.029999,92.470001,92.470001,10232800,0
249,2023-03-31,91.239998,93.260002,91.129997,93.019997,93.019997,8699700,0
250,2023-04-03,93.010002,93.599998,91.709999,92.839996,92.839996,6862000,0

In [20]:
# to make price column
for x in (db.index) :
    timestamp=db['Date'][x]
    t=''
    for x1 in timestamp :
        if(x1=='-'):
            continue
        else:
            t=t+x1
    db.loc[x,'date']=int(t)
db

,Date,Open,High,Low,Close,Adj Close,Volume,date
0,2022-04-04,104.019997,105.570000,103.279999,104.790001,102.536720,9077200,20220404
1,2022-04-05,104.480003,104.599998,102.110001,102.500000,100.295967,12291000,20220405
2,2022-04-06,100.419998,102.139999,99.720001,101.180000,99.004356,14902600,20220406
3,2022-04-07,100.419998,101.230003,99.650002,100.519997,98.358543,12431000,20220407
4,2022-04-08,100.620003,100.699997,99.120003,99.290001,97.154991,11796200,20220408
...,...,...,...,...,...,...,...,...
246,2023-03-28,90.660004,90.870003,89.919998,90.809998,90.809998,7521300,20230328
247,2023-03-29,91.760002,93.220001,91.449997,92.760002,92.760002,9264000,20230329
248,2023-03-30,93.349998,93.519997,92.029999,92.470001,92.470001,10232800,20230330
249,2023-03-31,91.239998,93.260002,91.129997,93.019997,93.019997,8699700,20230331
250,2023-04-03,93.010002,93.599998,91.709999,92.839996,92.839996,6862000,20230403

In [21]:
X=db[['date']]
X #label --- price

         date
0    20220404
1    20220405
2    20220406
3    20220407
4    20220408
..        ...
246  20230328
247  20230329
248  20230330
249  20230331
250  20230403

[251 rows x 1 columns]

In [22]:
Y=db[['Open','High','Low','Close']]
Y #features

           Open        High         Low       Close
0    104.019997  105.570000  103.279999  104.790001
1    104.480003  104.599998  102.110001  102.500000
2    100.419998  102.139999   99.720001  101.180000
3    100.419998  101.230003   99.650002  100.519997
4    100.620003  100.699997   99.120003   99.290001
..          ...         ...         ...         ...
246   90.660004   90.870003   89.919998   90.809998
247   91.760002   93.220001   91.449997   92.760002
248   93.349998   93.519997   92.029999   92.470001
249   91.239998   93.260002   91.129997   93.019997
250   93.010002   93.599998   91.709999   92.839996

[251 rows x 4 columns]

In [23]:
# X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)
# X_train,X_test,Y_train,Y_test=X_train.sort_index(axis=0),X_test.sort_index(axis=0),Y_train.sort_index(axis=0),Y_test.sort_index(axis=0)
# # train and spplit and obtaining all features and labels (not scaled)

X_train=X[:-20]
X_test=X[-20:]
Y_train=Y[:-20]
Y_test=Y[-20:]
Y_train

           Open        High         Low       Close
0    104.019997  105.570000  103.279999  104.790001
1    104.480003  104.599998  102.110001  102.500000
2    100.419998  102.139999   99.720001  101.180000
3    100.419998  101.230003   99.650002  100.519997
4    100.620003  100.699997   99.120003   99.290001
..          ...         ...         ...         ...
226   87.139999   88.150002   86.900002   87.070000
227   89.040001   90.040001   88.269997   88.419998
228   87.639999   89.339996   87.120003   89.029999
229   88.669998   89.849998   87.879997   89.790001
230   90.080002   91.330002   89.510002   89.580002

[231 rows x 4 columns]

In [24]:
# # Scaled version of label
# scaler = preprocessing.StandardScaler()
# Y_train_Scaled=scaler.fit_transform(pd.DataFrame(Y_train.index))
# Y_train_Scaled # scaled label for training

In [25]:
# mean_x_train = np.mean(X_train)
# std_x_train = np.std(X_train)

# mean_y_train = np.mean(Y_train.index)
# std_y_train = np.std(Y_train.index)

# mean_y_test = np.mean(Y_test.index)
# std_y_test = np.std(Y_test.index)

# mean_x_test = np.mean(X_test)
# std_x_test = np.std(X_test)

In [26]:
# X_train_Scaled=scaler.transform(X_train)
# X_train_Scaled

In [27]:
model=linear_model.LinearRegression()
model.fit(X_train,Y_train)

LinearRegression()

In [28]:
# y_pred_unscaled = (Y_train_Scaled * std_y_train) + mean_y_train
# y_pred_unscaled

In [29]:
# x_pred_unscaled = ((X_train_Scaled , std_x_train)) + mean_x_train
# x_pred_unscaled

In [30]:
predict=model.predict(X_test)
predict

array([[88.16625294, 89.51553797, 87.33094964, 88.55676838],
       [88.1668426 , 89.516161  , 87.33156136, 88.55740216],
       [88.16743227, 89.51678403, 87.33217308, 88.55803594],
       [88.16802194, 89.51740706, 87.3327848 , 88.55866971],
       [88.16979095, 89.51927615, 87.33461997, 88.56057104],
       [88.17038062, 89.51989918, 87.33523169, 88.56120482],
       [88.17097029, 89.52052221, 87.33584342, 88.56183859],
       [88.17155995, 89.52114524, 87.33645514, 88.56247237],
       [88.17214962, 89.52176827, 87.33706686, 88.56310614],
       [88.17391863, 89.52363736, 87.33890203, 88.56500747],
       [88.1745083 , 89.52426039, 87.33951375, 88.56564125],
       [88.17509797, 89.52488342, 87.34012548, 88.56627502],
       [88.17568764, 89.52550645, 87.3407372 , 88.5669088 ],
       [88.1762773 , 89.52612948, 87.34134892, 88.56754257],
       [88.17804631, 89.52799857, 87.34318409, 88.5694439 ],
       [88.17863598, 89.5286216 , 87.34379581, 88.57007768],
       [88.17922565, 89.52924463, 87.34440753, 88.57071145],
       [88.17981532, 89.52986766, 87.34501926, 88.57134523],
       [88.18040498, 89.53049069, 87.34563098, 88.57197901],
       [88.22286113, 89.57534887, 87.389675  , 88.61761087]])

In [31]:
m=metrics.mean_squared_error(Y_test,predict)
m

9.806843832791102